
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body{
    
    background-image: url("images/back4.png"); 
    width: 100%;
    height: 100%;
    background-position: center;
    display: flex;
    background-attachment: scroll;
    background-size: 100%; 
}
audio{
    padding-top: 220px;
}


header{
    background-color: #c5bc07;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
}
.logo{
    text-decoration:none;
    color: #0e3d0e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #0e3d0e;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    padding-left: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color: #81f981;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects{
    /* background-image: url("images/bacck.jpeg"); */
    width: 100%;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.projects .content{
    margin-top: 30px;
}

.project-card{
    /* /background-color: #000016;  */
    border: 1px solid transparent;
    /* box-shadow: 0 5px 10px 10px #81f981; */
    min-height: 14em;
    width: 15em;
    height: 15em;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px;
    transition: 0.9s ease;
}
.project-card:hover{
    transform: scale(1.3);
}
/* .audi{
    z-index: -2;
} */

.project-image img{
    width: 100%;
    border: transparent;
    background-color:transparent;
    z-index: -1;
    box-shadow: 0 5px 10px 10px #81f981;
    filter: grayscale(100%);
    border-radius: 30px solid #111;
    transition: 0.9s;
}
.project-image img:hover{
    filter: grayscale(0%);
}


.project-card .project-image{
    width: 100%;
    background-color: transparent;
}